<!DOCTYPE html>
<html lang="ru">
 <head> 
  <meta charset="utf-8" /> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                                 
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18034200?query=java%20Kharkov">Senior Java Developer</a></td> 
     <td class="city">Харьков, Ботанический сад</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18019096?query=java%20Kharkov">Java-разработчик (Middle)</a></td> 
     <td class="city">Харьков, Госпром</td> 
     <td class="companyName">ООО AML</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17049751?query=java%20Kharkov">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16796103?query=java%20Kharkov">Senior Java Engineer</a></td> 
     <td class="city">Санкт-Петербург, Петроградская</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17109190?query=java%20Kharkov">Java Developer</a></td> 
     <td class="city">Санкт-Петербург, Выборгская</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17974361?query=java%20Kharkov">Senior Java Developer/Tech Lead</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Zfort Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17889185?query=java%20Kharkov">Senior Java developer</a></td> 
     <td class="city">Харьков, Ботанический сад</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17088688?query=java%20Kharkov">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ventra</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16757695?query=java%20Kharkov">Java Team Lead / Architect</a></td> 
     <td class="city">Санкт-Петербург, Выборгская</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16843726?query=java%20Kharkov">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17007927?query=java%20Kharkov">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург, Выборгская</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112740?query=java%20Kharkov">Senior Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112808?query=java%20Kharkov">Java Solution Architect</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112711?query=java%20Kharkov">Senior/Lead Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17785429?query=java%20Kharkov">Java Engineer (Canadian client)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17800555?query=java%20Kharkov">Senior Java Engineer (European client)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17787775?query=java%20Kharkov">Senior Java Engineer (European client)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112721?query=java%20Kharkov">Senior Java Engineer (Travel Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112781?query=java%20Kharkov">Lead Java Engineer (Travel Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17785650?query=java%20Kharkov">Lead Java Engineer (Canadian client)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17785554?query=java%20Kharkov">Senior Java Engineer (Canadian client)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112705?query=java%20Kharkov">Technical Lead/Principal Java Engineer (Travel Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17291871?query=java%20Kharkov">Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Devart</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17990041?query=java%20Kharkov">ІТ стажер (розробник)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">УкрСиббанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/15513252?query=java%20Kharkov">QA Automation Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/15362100?query=java%20Kharkov">Senior Automation Tests Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17687062?query=java%20Kharkov">Build Integration Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/14825549?query=java%20Kharkov">Lead Software Test Automation Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17391113?query=java%20Kharkov">Lead Software Test Automation Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112698?query=java%20Kharkov">Big Data Solution Architect</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17781939?query=java%20Kharkov">Senior python engineer (Team Lead role)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО Мирантис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18062100?query=java%20Kharkov">Middle Java Developer</a></td> 
     <td class="city">Харьков, Университет и еще 1</td> 
     <td class="companyName">ООО Jelvix</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17726332?query=java%20Kharkov">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17726337?query=java%20Kharkov">Junior Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17697620?query=java%20Kharkov">Разработчик Java</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО СТВ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17844298?query=java%20Kharkov">Middle Java Backend developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО It Svit</td> 
     <td class="salary">2&nbsp;000-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17855260?query=java%20Kharkov">Технический руководитель Java проектов / Project Manager/ Team Lead</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LuckyWare Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17726339?query=java%20Kharkov">Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18019471?query=java%20Kharkov">Администратор баз данных</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО СТВ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17657525?query=java%20Kharkov">Selenium / soapUI Automation QA</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SCIGON Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17964874?query=java%20Kharkov">Middle Android Developer</a></td> 
     <td class="city">Харьков, Исторический музей</td> 
     <td class="companyName">ООО Рифпоинт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17016491?query=java%20Kharkov">Full Stack Developer (Lublin, Poland)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17854333?query=java%20Kharkov">Middle Python Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО It Svit</td> 
     <td class="salary">1&nbsp;000-2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17855010?query=java%20Kharkov">Smart Junior Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LuckyWare Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17765584?query=java%20Kharkov">System Administrator</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">TSN-Media</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17765702?query=java%20Kharkov">Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО AppsStudio</td> 
     <td class="salary">1&nbsp;000-2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>