<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                                 
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16843726?query=java%20Kharkov">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112824?query=java%20Kharkov">Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17109190?query=java%20Kharkov">Java Developer</a></td> 
     <td class="city">Санкт-Петербург, Выборгская</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112736?query=java%20Kharkov">Senior Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112740?query=java%20Kharkov">Senior Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112813?query=java%20Kharkov">Java Engineer (Telecommunication Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112792?query=java%20Kharkov">Lead Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112815?query=java%20Kharkov">Java Engineer (Oracle Commerce)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112808?query=java%20Kharkov">Java Solution Architect</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112820?query=java%20Kharkov">Java Engineer (Hybris)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112811?query=java%20Kharkov">Java Engineer (Travel Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112733?query=java%20Kharkov">Senior Java Engineer (Hybris)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112711?query=java%20Kharkov">Senior/Lead Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17088688?query=java%20Kharkov">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ventra</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/14825494?query=java%20Kharkov">Java Team Lead/Resource Manager</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112724?query=java%20Kharkov">Senior Java Engineer (Telecommunication Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112786?query=java%20Kharkov">Lead Java Engineer (Oracle Commerce)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112726?query=java%20Kharkov">Senior Java Engineer (Oracle Commerce)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112781?query=java%20Kharkov">Lead Java Engineer (Travel Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112721?query=java%20Kharkov">Senior Java Engineer (Travel Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17055177?query=java%20Kharkov">Java Engineer</a></td> 
     <td class="city">Харьков, Ботанический сад</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112705?query=java%20Kharkov">Technical Lead/Principal Java Engineer (Travel Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/15828452?query=java%20Kharkov">Java Architect</a></td> 
     <td class="city">Санкт-Петербург, Петроградская</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16796103?query=java%20Kharkov">Senior Java Engineer</a></td> 
     <td class="city">Санкт-Петербург, Петроградская</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16757695?query=java%20Kharkov">Java Team Lead / Architect</a></td> 
     <td class="city">Санкт-Петербург, Выборгская</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17049751?query=java%20Kharkov">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17055945?query=java%20Kharkov">Junior Fullstack developer (Java/JS/HTML5)</a></td> 
     <td class="city">Харьков, Ботанический сад</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16714712?query=java%20Kharkov">Junior Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17007927?query=java%20Kharkov">Middle Java Developer</a></td> 
     <td class="city">Санкт-Петербург, Выборгская</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17150612?query=java%20Kharkov">Senior NodeJS Developer / Team Lead</a></td> 
     <td class="city">Санкт-Петербург, Выборгская</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16709449?query=java%20Kharkov">Senior JavaScript</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/15362100?query=java%20Kharkov">Senior Automation Tests Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16991133?query=java%20Kharkov">Junior Technical Implementation Consultant</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/14825549?query=java%20Kharkov">Lead Software Test Automation Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112713?query=java%20Kharkov">Senior Software Test Automation Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112840?query=java%20Kharkov">Business Analyst</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112767?query=java%20Kharkov">Senior Business Analyst (E-Commerce project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112757?query=java%20Kharkov">Senior DevOps Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112716?query=java%20Kharkov">Senior Performance Analyst</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17112698?query=java%20Kharkov">Big Data Solution Architect</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/14834732?query=java%20Kharkov">Senior Delivery Manager</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/14825409?query=java%20Kharkov">Delivery Manager</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17016289?query=java%20Kharkov">Android developer (Montenegro)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16772559?query=java%20Kharkov">QA Automation Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/15513252?query=java%20Kharkov">QA Automation Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16891940?query=java%20Kharkov">Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО Джаст</td> 
     <td class="salary">от 1&nbsp;800 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16560004?query=java%20Kharkov">Senior QA Automation Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16842937?query=java%20Kharkov">Ruby on Rails Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17139044?query=java%20Kharkov">Технический руководитель Java проектов (Project Manager/ Team Lead)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LuckyWare Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17034771?query=java%20Kharkov">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16618622?query=java%20Kharkov">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Gameloft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16558413?query=java%20Kharkov">Senior Java 8/ Scala Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Intetics Co</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17139112?query=java%20Kharkov">Junior+/Middle Front-end Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">WEB4PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17105966?query=java%20Kharkov">Strong junior/middle Android dev</a></td> 
     <td class="city">Харьков, Университет</td> 
     <td class="companyName">TecSynt Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17016491?query=java%20Kharkov">Full Stack Developer (Lublin, Poland)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17034784?query=java%20Kharkov">QA Automation Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16689034?query=java%20Kharkov">Администратор базы данных</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО СТВ</td> 
     <td class="salary">от 8&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16657870?query=java%20Kharkov">Водитель в службу такси</a></td> 
     <td class="city">Харьков, Проспект Гагарина</td> 
     <td class="companyName">Оптимальное</td> 
     <td class="salary">4&nbsp;000-9&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17016498?query=java%20Kharkov">Oracle Developer (Lublin, Poland)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16942383?query=java%20Kharkov">Smart Junior Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LuckyWare Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16867734?query=java%20Kharkov">C++ Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Akvelon</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020197">Преподаватель Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains27 апреля 2016</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025447">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Infinet Wireless19 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026111">Senior Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Magora Systems13 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025774">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ25 апреля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники11 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026145">Java программист</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC13 мая 2016</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025283">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО "РуСофт"18 мая 2016</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025996">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AVATAR06 мая 2016</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей11 мая 2016</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024547">Java-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView23 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026186">Java Developer (Платежные системы)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB-SPLAT16 мая 2016</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026046">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Touch Bank10 мая 2016</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/999999168">Java Software developer (Java Программист)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HireRight Inc.10 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026018">Java to Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE06 мая 2016</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025885">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО АКБ "Авангард"29 апреля 2016</td> 
     <td class="salary">От 80 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024918">JAVA-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Crocodie04 мая 2016</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026301">Java разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Laximo20 мая 2016</td> 
     <td class="salary">От 60 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025964">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бигл05 мая 2016</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026002">Java-разработчик web - приложений</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий06 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025930">Ведущий Java программист / тимлид</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Kelly Services04 мая 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026153">Разработчик Java Backend</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Voximplant13 мая 2016</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026278">Junior Software Developer / Java EE Specialist</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach RUS19 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026115">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies12 мая 2016</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc27 апреля 2016</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java EE-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS23 мая 2016</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020197">Преподаватель Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains27 апреля 2016</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025447">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Infinet Wireless19 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026111">Senior Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Magora Systems13 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025774">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ25 апреля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники11 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026145">Java программист</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC13 мая 2016</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025283">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО "РуСофт"18 мая 2016</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025996">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AVATAR06 мая 2016</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей11 мая 2016</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024547">Java-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView23 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026186">Java Developer (Платежные системы)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB-SPLAT16 мая 2016</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026046">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Touch Bank10 мая 2016</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/999999168">Java Software developer (Java Программист)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HireRight Inc.10 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026018">Java to Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE06 мая 2016</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025885">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО АКБ "Авангард"29 апреля 2016</td> 
     <td class="salary">От 80 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024918">JAVA-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Crocodie04 мая 2016</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026301">Java разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Laximo20 мая 2016</td> 
     <td class="salary">От 60 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025964">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бигл05 мая 2016</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026002">Java-разработчик web - приложений</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий06 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025930">Ведущий Java программист / тимлид</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Kelly Services04 мая 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026153">Разработчик Java Backend</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Voximplant13 мая 2016</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026278">Junior Software Developer / Java EE Specialist</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach RUS19 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026115">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies12 мая 2016</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc27 апреля 2016</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java EE-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS23 мая 2016</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013803">Scala или Java разработчик / Scala or Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова18 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025872">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">UseTech Integration28 апреля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025337">Программист C++, C# и Java</a></td> 
     <td class="city">Тула</td> 
     <td class="companyName">Центр обучения Союз.23 мая 2016</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020239">Senior Scala/Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Adlabs FSE10 мая 2016</td> 
     <td class="salary">От 170 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026017">Middle Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Loyalty Plant06 мая 2016</td> 
     <td class="salary">От 60 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013804">Ведущий Scala / Java разработчик (Senior Scala / Java Developer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова18 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026079">Scala/Java - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Society Laboratory (DSL)11 мая 2016</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025800">Software developer (Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Plesk26 апреля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023877">Senior Java Developer (Data team)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GetIntent23 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025833">Senior Java EE Developer / Team Leader</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">SimpITy Ltd.27 апреля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025974">Разработчик Android</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">Taximeta LLC05 мая 2016</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026020">Java разработчик в американский Ai-стартап</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics06 мая 2016</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026105">Аналитик-математик</a></td> 
     <td class="city"></td> 
     <td class="companyName">BIA-Technologies12 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022798">GWT Разрабочик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">AgmSoft19 мая 2016</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025473">Тестировщик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Электронный город17 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026052">Senior QA automation engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова10 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026146">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Новая Медицина"13 мая 2016</td> 
     <td class="salary">От 150 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025763">Senior Android Developer / Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bookmate25 апреля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024551">Go-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView23 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025939">Android - Разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий04 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025869">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Omnigon Communications, LLC28 апреля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024464">Android-разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">FunCorp06 мая 2016</td> 
     <td class="salary">От 70 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025905">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Minimum02 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026126">Senior Android Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Social Discovery Ventures12 мая 2016</td> 
     <td class="salary">От 2 500 до 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019862">ANDROID разработчик</a></td> 
     <td class="city">Оренбург</td> 
     <td class="companyName">Группа Компаний "Wallet One"19 мая 2016</td> 
     <td class="salary">От 60 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026060">Фуллстек разработчик с уклоном в бэкенд</a></td> 
     <td class="city">Мюнхен</td> 
     <td class="companyName">InfoPunks GmbH10 мая 2016</td> 
     <td class="salary">От 40 000 до 45 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026222">Junior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TechOps17 мая 2016</td> 
     <td class="salary">От 30 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025933">Разработчик мобильных приложений для Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк"04 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026319">Senior Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">FutureComes22 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026084">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Рестрим"11 мая 2016</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026331">Expert Node JS back-end developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Aparlay23 мая 2016</td> 
     <td class="salary">От 3 000 до 3 300 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026231">PHP-developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Новая Медицина"18 мая 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026196">Разработчик мобильных приложений, Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Конфи Консалтинг16 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026219">Android- разработчик в американский Ai-стартап</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics17 мая 2016</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026204">Android developer</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Qwintry16 мая 2016</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026066">Team Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сервис GrowFood11 мая 2016</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026010">Разработчик исследователь ANDROID</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ОАО "Технологии радиоконтроля"18 мая 2016</td> 
     <td class="salary">От 70 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025897">Разработчик HTML5 мобильных приложений (Phonegap, Cordova)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EasyFinance29 апреля 2016</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026353">Android разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">ООО "Дром"24 мая 2016</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019790">Преподаватель вебинаров по программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains27 апреля 2016</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025931">Разработчик мобильных приложений для IOS</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк"04 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025746">Senior Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Перформикс"25 апреля 2016</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026077">Разработчик мобильных приложений</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Orange Rockets11 мая 2016</td> 
     <td class="salary">От 35 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025324">Mobile Intern</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Handsome10 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025916">Web-программист</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">"WoodCraft"02 мая 2016</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024338">Senior Android architect</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA10 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024343">Senior Android engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA10 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021404">Разработчик Android</a></td> 
     <td class="city">Франкфурт ам Майн</td> 
     <td class="companyName">Confabs30 апреля 2016</td> 
     <td class="salary">От 3 000 до 4 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025404">PHP-разработчик (backend)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Arcanite LLC22 мая 2016</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026064">Android - разработчик</a></td> 
     <td class="city">Великий Новгород</td> 
     <td class="companyName">Аппликатура11 мая 2016</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025816">Руководитель группы тестирования</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО Транс-ИТ27 апреля 2016</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026323">CTO</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DigitalHR23 мая 2016</td> 
     <td class="salary">От 200 000 до 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026322">Android Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Just LLC23 мая 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/999998919">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Альфа-Банк20 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025222">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SweatCoin20 мая 2016</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026292">Разработчик моб. приложений</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">YLab20 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026119">Backend-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BeGet12 мая 2016</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026121">Бэкенд/Мобильный/Десктоп разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">NetGon Technologies12 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026125">Senior Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Trucker Path12 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013542">Senior Android Developer (Maps.Me)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group18 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026343">​QA front-end automation engineer (remote)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова23 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026056">QA инженер / тестировщик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АЛОЛЬ12 мая 2016</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026150">ColdFusion разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Andersen13 мая 2016</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026009">Программист С/Asm</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ОАО "Технологии радиоконтроля"18 мая 2016</td> 
     <td class="salary">От 70 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025617">Фронтенд-разработчик (React-Native, React)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Busfor17 мая 2016</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026179">Менеджер IT-проектов</a></td> 
     <td class="city">Оренбург</td> 
     <td class="companyName">Wallet One16 мая 2016</td> 
     <td class="salary">От 35 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020337">Perl-программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">220 Вольт27 апреля 2016</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000006053">Ведущий Flash разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ALISA Gaming29 апреля 2016</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024956">С++ программист / Ведущий С++ программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Navitel16 мая 2016</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026215">Человекоподобный Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Студия Михаила Кечинова17 мая 2016</td> 
     <td class="salary">От 70 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025149">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Superjob05 мая 2016</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026021">Fullstack программист PHP / Python</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Stellarbit07 мая 2016</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025785">Junior PHP Developer (Программист)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">МАДЖЕСТИ26 апреля 2016</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024454">Ведущий JavaScript разработчик (Senior JavaScript Developer)</a></td> 
     <td class="city">Гусев</td> 
     <td class="companyName">GS Group18 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024202">C\C++ System Software Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Promwad Innovation Company17 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025784">Middle PHP Developer (Программист)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">МАДЖЕСТИ26 апреля 2016</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026000">Старший Web разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий06 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025906">UX/UI дизайнер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Heaven 1130 апреля 2016</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026188">​Chief DevOps Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Align Technology Inc16 мая 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025522">Python разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn18 мая 2016</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026095">Разработчик Python/Asyncio</a></td> 
     <td class="city"></td> 
     <td class="companyName">Девхаб11 мая 2016</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>